body {
  background-image: url("images/Desktop\ -\ 16.png");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: 100% 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}
.main1 {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 47rem;
  height: 34rem;
  overflow: hidden;
  background-color: black;
  border-radius: 20px;
  box-shadow: 8px 8px rgba(30, 30, 30, 1);
  display: block;
  border: 2px solid black;
}
.logo {
  position: absolute;
  top: 0%;
  width: 100%;
  height: 13%;
  border: black;
  background-color: rgb(255, 251, 218);
  border-radius: 20px 20px 0 0;
}
.logo img {
  position: absolute;
  float: left;
  padding: 1%;
  width: 10%;
  height: 71%;
  margin-left: 14px;
}
.icons {
  position: absolute;
  bottom: 0%;
  width: 100%;
  height: 13%;
  background-color: rgb(255, 251, 218);
  border-radius: 0 0 20px 20px;
  display: flex;
  align-items: center;
}
.heading {
  position: relative;
  top: 13%;
  width: 100%;
  height: 74%;
  background-image: url("images/Frame\ 8\ 1.png");
  background-size: 100% 100%;
  display: flex;
  justify-content: center;
}
#icon1 {
  position: absolute;
  float: left;
  padding: 1%;
  width: 18%;
  height: 72%;
  margin-left: 14px;
}
#icon2 {
  position: absolute;
  padding: 1%;
  width: 4%;
  height: 55%;
  right: 0%;
  margin-right: 14px;
}
.head-image {
  position: absolute;
}
#welcome {
  top: 5%;
  width: 30%;
  height: 20%;
}
#farewell {
  top: 29%;

  width: 60%;
  height: 48%;
}
.start {
  position: absolute;
  top: 79%;
  width: 29%;
  height: 12%;
  border: none;
  color: none;
}
.start img {
  width: 103%;
  height: 132%;
  box-shadow: 5px gray;
}
.start img:hover {
  width: 105%;
  height: 136%;
  box-shadow: 5px gray;
}
/* PAGE 2 */
.main2 {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 27rem;
  height: 31rem;
  overflow: hidden;
  background-color: black;
  border-radius: 20px;
  box-shadow: 8px 8px rgba(30, 30, 30, 1);
  border: 2px solid black;
  display: none;
}
.main2 #welcome {
  top: 5%;
  width: 44%;
  height: 17%;
}
.heading2 {
  position: relative;
  top: 9%;
  width: 100%;
  height: 82%;
  background-image: url("images/Frame\ 8\ 1.png");
  background-size: 100% 100%;
  display: flex;
  justify-content: center;
}
.logo2 {
  position: absolute;
  top: 0%;
  width: 100%;
  height: 9%;
  border: black;
  background-color: rgb(255, 251, 218);
  border-radius: 20px 20px 0 0;
}
.icons2 {
  position: absolute;
  bottom: 0%;
  width: 100%;
  height: 9%;
  background-color: rgb(255, 251, 218);
  border-radius: 0 0 20px 20px;
  display: flex;
  align-items: center;
}
.input {
  position: absolute;
  width: 70%;
  height: 5%;
  border-radius: 5px;
  border: 5px black;
  padding: 10px;
}
#input1 {
  top: 30%;
}
#input2 {
  top: 45%;
}
.login {
  position: absolute;
  width: 46%;
  height: 12%;
  border-radius: 8px;
  background-color: red;
  color: white;
  font-weight: 600;
  text-align: center;
  top: 71%;
  font-size: larger;
}
/* page 3 */
.main3 {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 27rem;
  height: 31rem;
  overflow: hidden;
  background-color: black;
  border-radius: 20px;
  box-shadow: 8px 8px rgba(30, 30, 30, 1);
  display: none;
  border: 2px solid black;
}
.avatar {
  background-color: rgba(255, 245, 250, 1);
  align-items: center;
  display: flex;
  justify-content: center;
  position: absolute;
  top: 5%;
  width: 21%;
  height: 24%;
  border-radius: 5px;
  border: 2px solid black;
}
.avatar img {
  width: 72%;
}
.dropdown {
  width: 74%;
  position: absolute;
  margin: 2rem;
  top: 25%;
}
.dropdown * {
  box-sizing: border-box;
}
.select {
  background: white;
  color: black;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: 2px solid black;
  border-radius: 0.5rem;
  padding: 4px;
  transition: 0.3s;
  height: 21%;
}
.select-clicked {
  border: 2px solid black;
  box-shadow: 0 0 0 0.8rem black;
}
.caret {
  width: 0;
  height: 0;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-top: 6px solid black;
  transition: 0.3s;
}
.menu {
  list-style: none;
  padding: 0.2rem 0.5rem;
  background: wheat;
  border: 1px solid gray;
  box-shadow: 0 0.5rem 1rem black;
  border-radius: 0.4rem;
  color: gray;
  position: absolute;
  left: 50%;
  width: 100%;
  transform: translateX(-50%);
  opacity: 0;
  display: none;
  transition: 0.2s;
  z-index: 1;
  overflow-y: scroll;
  height: 32vh;
}
.menu li {
  padding: 0.7em 0.5em;
  margin: 0.3em 0;
  border-radius: 0.5em;
  cursor: pointer;
}
.menu li:hover {
  background: #2a2d35;
}
.active {
  background: wheat;
}
.menu-open {
  display: block;
  opacity: 1;
}
.input2 {
  position: absolute;
  width: 70%;
  height: 25%;
  border-radius: 5px;
  border: 5px black;
  padding: 10px;
  top: 44%;
  border: 2px solid black;
}
.Send {
  position: absolute;
  width: 46%;
  height: 12%;
  border-radius: 8px;
  background-color: red;
  color: white;
  font-weight: 600;
  text-align: center;
  top: 77%;
  font-size: larger;
}
/* page 4 */
.main4 {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 27rem;
  height: 31rem;
  overflow: hidden;
  background-color: black;
  border-radius: 20px;
  box-shadow: 8px 8px rgba(30, 30, 30, 1);
  display: none;
  border: 2px solid black;
}
.input3 {
  position: absolute;
  width: 70%;
  height: 25%;
  border-radius: 5px;
  border: 5px black;
  padding: 10px;
  top: 10%;
  border: 2px solid black;
}
.design {
  position: absolute;
  bottom: 0%;
  z-index: -1;
  width: 20%;
  right: 34px;
}

h2 {
  position: absolute;
  top: 40%;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}
.Confirm {
  position: absolute;
  width: 46%;
  height: 12%;
  border-radius: 8px;
  background-color: red;
  color: white;
  font-weight: 600;
  text-align: center;
  top: 68%;
  font-size: larger;
}
.dropdown2 {
  width: 74%;
  position: absolute;
  margin: 2rem;
  top: 46%;
}
.dropdown2 * {
  box-sizing: border-box;
}
.NCSLogo {
  position: absolute;
  width: 20vh;
  height: 10vh;
  left: 5%;
  top: 5%;
  display: none;
}
